@import "styles/variables.scss";
.wrapper {
  flex: 15%;
  flex-grow: 0;

  &__navigation {
    list-style: none;
    margin: 0;
    padding: 0 15px;
    &__link {
      border: 1px solid #000;
    }
  }
}

@media (max-width: $tablet) {
  .wrapper {
    flex: 100%;
  }
}
